.pokedex {
  position: relative;
}

.pokedexScreen {
  position: absolute;
  top: 220px;
  left: 255px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.linkText {
  color: #39b54a;
  overflow: hidden;
  border-right: 0.15em solid #39b54a;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #39b54a;
  }
}

.alert {
  position: absolute;
  background-color: aqua;
  border-radius: 100%;
  width: 43px;
  height: 43px;
  top: 138px;
  left: 243px;
  animation: grow 0.5s linear infinite;
}

@keyframes grow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
